* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 120px;
    background-color: rgba(41, 78, 121, 255);
}

.header__div--logo {
    width: 40%;
    display: flex;
}

.img--logo {
    width: 20%;
    margin-top: 20px;
}

.img--logo img {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.title--logo {
    color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 15px;
    margin-left: -5px;
    width: 80%;
    font-style: oblique;
}

.title--logo h1 {
    font-size: 40px;
}

.title--logo span {
    font-size: 17px;
}

.header__div--nav {
    width: 60%;
    margin-left: 10px;
}

.nav {
    width: 100%;
    margin-right: 10px;
}

.nav ul {
    display: flex;
    flex-direction: row;
}

.nav--menu {
    list-style-type: none;
    margin: 20px;
    background-color: rgb(74, 121, 174);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
}

.menu--content {
    text-decoration: none;
    width: 100px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 46px;
}

.search form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 10px;
    padding-right: 10px;
}

::placeholder {
    color: white;
}

.search--input {
    padding: 5px;
    margin-left: 20px;
    background-color: rgb(59, 93, 132);
    color: white;
}

.section {
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    height: 400px;
}

.artical__div--left {
    width: 70%;
    float: left;
    margin-right: 10px;
    /* display: flex;
    flex-direction: column; */
}

.artical__div--left--title {
    float: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px dotted rgb(59, 93, 132);
    width: 100%;
    color: rgba(189, 148, 108, 255);
}

.artical__div--right--title {
    float: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px dotted rgb(59, 93, 132);
    width: 100%;
    color: rgba(189, 148, 108, 255);
}

.artical__div--left--content {
    float: left;
}

.left--left {
    width: 60%;
    float: left;
}

.content--left {
    color: #cc7875;
    text-shadow: 5px 5px 5px yellowgreen;
}

.form--left>table {
    width: 100%;
}

.left--right {
    width: 38%;
    float: left;
    margin-left: 10px;
}

.title--right {
    color: rgba(189, 148, 108, 255);
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px dotted rgb(59, 93, 132);
}

.content--right {
    font-size: 15px;
    color: rgba(189, 148, 108, 255);
}

.label {
    font-size: 15px;
    padding-top: 10px;
}

.text {
    padding-bottom: 5px;
}

.btn {
    width: 30%;
}

.artical__div--right {
    width: 30%;
    float: left;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFFAF0;
}

.artical__div--right--img {
    width: 100%;
    height: 120px;
    padding: 5px;
    border: 2px solid rgb(59, 93, 132);
}

.artical__div--right--img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artical__div--right--content {
    padding-top: 10px;
    font-size: 20px;
    text-align: justify;
    color: rgba(189, 148, 108, 255);
}

.readmore {
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    color: blue;
}

.footer {
    width: 100%;
    height: 30px;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    background-color: rgba(41, 78, 121, 255);
}