*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1280px;
    min-height: 630px;
    max-height: 700px;
    margin: 0 auto;
    background: linear-gradient(to bottom,rgba(109, 196, 238, 255), rgba(95, 162, 241, 255));
}

.nav{
    min-height: 80px;
    min-width: 1280px;
    border-bottom: 7px dotted aliceblue;
    display: flex;
    flex-direction: row;
}

.nav-menu{
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    float: left;
    gap: 5rem;
    padding-left: 2rem;
    padding-top: 1.5rem;
}

.link{
    list-style-type: none;
}

.link-title{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}

.header-title{
    min-width: 280px;
    height: 80px;
    flex-grow: 1;
    text-shadow: 1px 1px 2px black, 0 0 20px blue, 0 0 3px darkblue;
}

.header-title h1{
    color: aliceblue;
    float: right;
    padding-top: 0.8rem;
    font-size: 50px;
}

.artical{
    display: flex;
    flex-direction: row;
}

.left-artical{
    max-width: 650px;
}

.left-artical h2{
    color: aliceblue;
    padding-top: 1.5rem;
    padding-left: 0.3rem;
    font-size: 30px;
    min-width: 700px;
}

.left-artical p{
    color: aliceblue;
    padding-top: 1rem;
    padding-left: 0.3rem;
    font-size: 20px;
    max-width: 560px;
    text-align: justify;
}

.image{
    margin-top: 2rem;
}

.image img{
    width: 450px;
}

.form-td{
    padding-right: 1rem;
    padding-left: 3rem;
    color: aliceblue;
}

#title{
    border-radius: 5px;
    min-width: 250px;
}

.form-btn{
    padding-left: 3rem;
}

#btn{
    padding: 0 5px;
    border: 2px dotted blue;
    border-radius: 5px;
}

.image-title h2 {
    color: blue;
    text-shadow: 2.5px 2px 2px blue;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 30px;
}

.image-title span{
    color: blue;
    font-size: 20px;
    padding-left: 2rem;
}

.footer{
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 5px dotted aliceblue;
    color: aliceblue;
    padding-left: 20rem;
}