* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ad4c15;
    width: 100%;
}

.header--title {
    color: #857d00;
    padding: 10px;
    text-shadow: -4px -4px 5px white;
}

nav {
    width: 100%;
}

.nav--menu ul li {
    float: left;
    padding: 0 20px;
    list-style-type: none;
}

.nav--menu--a {
    text-decoration: none;
    color: rgba(189, 148, 108, 255);
    font-size: 20px;
}

section {
    width: 100%;
    height: 700px;
}

.section--header{
    height: 200px;
    width: 100%;
}

.section--header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artical{
    float: left;
    width: 70%;
    border-right: 1px solid rgba(127,127,0,255);
}

.artical--title{
    padding-left: 10px;
    font-size: 30px;
    color: rgba(157,137,95,255);
}

.artical--content{
    padding: 30px 0;
    padding-left: 50px;
    font-size: 20px;
    color: rgba(157,137,95,255);
    font-style: italic;
}

#td--content{
    width: 800px;
    border: hidden;
    font-size: 15px;
    padding-top: 30px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.td--border{
    width: 100%;
}

.artical--form table{
    padding-bottom: 40px;
}

.artical--form button{
    background-color: rgba(127,127,0,255);
    color: white;
    width: 120px;
    height: 30px;
    border: hidden;
}

.aside{
    float: left;
    width: 30%;
}

.aside--list{
    margin: 50px 50px 0 50px;
    background-color: #faebd8;
    border-radius: 15px 15px 0 0;
}

.aside--header1{
    color: #53412f;
    padding: 2px 0 20px 20px;
    letter-spacing: 5px;
}

.aside--list ul{
    padding-left: 50px;
}

.aside--list ul li{
    list-style-type: square;
    color: #c39a72;
}

.aside--header2{
    color: #53412f;
    margin: 10px 50px 0 70px;
    width: 100%;
    letter-spacing: 5px;
}

.img{
    width: 100px;
    border: 1px solid #dfdfdf;
    float: left;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
}

.aside--content{
    display: flex;
    flex-direction: column;
}

.content{    
    font-size: 18px;
    display: inline;
    color: #53412f;
    line-height: 30px;
}

.aside--content--img{
    margin: 20px 75px 0 70px;
    height: 260px;
}

footer p, footer span{
    font-size: 25px;
    color: #53412f;
}

footer p{
    border-right: 1px solid #53412f;
    padding-right: 20px;
    margin-left: 100px;
}

footer span{
    margin-left: 10px;
}

footer{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: left;
    align-items: center;
    background: url(../IMG/corner1.png) left top no-repeat, url(../IMG/corner2.png) left bottom no-repeat, url(../IMG/footer.png) left top no-repeat,url(../IMG/footer.png) right top no-repeat,url(../IMG/footer.png) center top no-repeat,url(../IMG/footer.png) left top repeat-x, url(../IMG/corner3.png) right top no-repeat,url(../IMG/corner4.png) right bottom no-repeat;
    background-size: 50px 35px,60px 35px,250px 15px,250px 15px,250px 15px,250px 15px,100px 35px,110px 35px;
}