

.artical>h2{
    font-size: 35px;
    margin: 30px 0;
    color: rgb(234, 199, 44);
}

.artical1__card{
    width: 750px;
    height: 850px;
    background-image: url(../Bai4/sample.jpg);
    background-repeat: no-repeat; 
    background-size: 650px auto; 

}

.artical__card>p{
    width: 180px;
    padding: 10px;
    background-color: rgb(245, 247, 226);
    box-shadow: 1px 1px 2px 2px inset rgb(73, 73, 72);
}

