

header{
    background-color: black;
}

.order_online {
    text-decoration: none;
    color: white;
    background-color: #ffbe33;
    border-radius: 1.6rem;
    padding: 8px 30px;
    margin: 0 10px;
}

#navbarSupportedContent li {
    margin: 0 10px;
}

#navbarSupportedContent a,
#navbarSupportedContent i,
.navbar-brand span {
    color: white;
    font-size: 1.3rem;
}